.wrapper{
    background-color: #ffffff;
    color: #1b1b1b;
    padding-top: 10%;
    position: relative;
    min-height: 100vh;
}
h5 {
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size:1.5em;
}

/*search bar*/
input[type=text]:focus{
  box-shadow: 0 0 5px #1b1b1b;
  border: 1px solid #f7f7f0;
}

.search{
    margin: auto;
    padding: 50px 0;
}

.form-group {
    margin: auto;
    width: 70%;
    text-align: center;
    margin-bottom: 1rem;    
}
.form-control{
    margin-bottom: 20px;
}

.btn-primary{
    background-color: #1b1b1b;
    border:1px solid #1b1b1b;
    color: #ffffff;
}

.btn-primary:hover{
    background-color: #3d3d3d;
    border:1px solid #3d3d3d;
}

.btn-primary:active {
  background-color: #525252 !important;
  border: 1px solid #525252 !important;
}

.btn-primary:focus {
  -moz-box-shadow: 0 0 5px #3d3d3d !important;
  -webkit-box-shadow: 0 0 5px #3d3d3d !important;
  box-shadow: 0 0 5px #3d3d3d !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 2;
  display: table;
}

.leftfloat-search {
  float: left;
  width: 100%;
  display: table-cell;

}

.leftfloat-button {
    width: 77px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

/*list*/

ul {
    list-style: none;
}
.list {
    padding:30px;
    background-color: #f7f7f0;
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    display: none;
}

.map-wrapper {
    width: 100%;
    height: 30%;
}

.map-wrapper > div{
    width: 50%; 
    height: 100%;
    float:left;
}

.number {
    font-family: 'Poppins','Lato',sans-serif; 
}

.list-title {
    color: #1b1b1b;
}

.map-wrapper {
    margin-bottom: 30px;
}

.hover-box {
    margin: 10px 0;
}
/*footer*/
.container-wrapper {
    width: 100%;
    padding-bottom: 8rem;  
}
footer {
    margin-top:50px;
    padding:50px 20%;
    background-color: #1b1b1b;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem; 
    text-align: center;
}

.hover-box {
    display: inline-block;
}
.animating-link {
position: relative;
display: inline-block;
}

.animating-link,
.animating-link:hover,
.animating-link:focus,
.animating-link:active
{
color: #1b1b1b;
text-decoration: none;
}

.animating-link::after {
  content: "";
  position: absolute;
}

.hover-box .animating-link::after {
  top: 100%;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #1b1b1b;
  transition: 0.4s ease-out all .1s;
}

.hover-box:hover .animating-link::after {
  width: 0;
  left: 100%;
  transition: 0.5s ease all;
}

/*media query*/
@media only screen and (max-width: 550px) {
    .title {
    font-size:1.2em;
}
    .sticky {
      width: 90%;
        
    }
    .search {
        padding:15px 0;
    }
    .form-group {
        width: 90%;
    }
    .list {
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
    }


    .map-wrapper > div {
        width: 100%;
    }
    .nearby-tips {
      padding-top:150px;
    }
    footer {
        margin-top:0px;
    }
}

@media only screen and (max-width: 400px) {
    .nearby-tips {
      padding-top:220px;
    }
}

/*read more button*/
#more {display: none;}

#readmorebtn {
    border-bottom: 1px solid currentColor; 
    cursor: pointer;
}

/*Modal*/
.modal-content {
    margin-top: 30%;
}



