.wrapper{
    background-color: #ffffff;
    color: #1b1b1b;
    position: relative;
    min-height: 100vh;
}
h5 {
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size:1.5em;
}

/*search bar*/
input[type=text]:focus{
  box-shadow: 0 0 5px #1b1b1b;
  border: 1px solid #f7f7f0;
}

.search{
    margin: auto;
    padding-top: 50px;
}

.form-group {
    margin: auto;
    width: 70%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;   
}
.form-control{
    margin:auto auto 20px auto;
}

.form-group h5 {
    margin-bottom: 15px;
}
.btn-primary{
    background-color:#ece5dc;
    border:1px solid #ece5dc;
    color: #1b1b1b;
    border-radius: 0px;
    text-transform: uppercase;
    transition: .6s;   
}

.btn-primary:hover{
    background-color: #ffffff;
    border:1px solid #1b1b1b;
    color: #1b1b1b;
}



.sticky {
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 2;
  display: table;
}

.leftfloat-search {
  float: left;
  width: 100%;
  display: table-cell;

}

.leftfloat-button {
    width: 77px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

/*list*/

ul {
    list-style: none;
    padding: 0px;
}
.list {
    padding:30px;
    margin: auto;
    margin-bottom: 30px;
/*    display: none;*/
}

.row{
    text-align: center;
}

.card {
    width: 80%;
    margin: 10px auto 0;
    border: none;
}
.card h5 {
    margin-top: 20px;
    margin-bottom: 0px;
}
h5 a{
   color: #133A31;
   font-size: 20px;
   font-family: 'Crimson Text', serif;
}

.col-12 p, .nearby-tips {
    color: #53565a;
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
}
.map-wrapper {
    width: 100%;
    height: 30%;
    margin-bottom: 30px;
}

.map-wrapper > div{
    width: 50%; 
    height: 100%;
    float:left;
}

.number {
    font-family: 'Poppins','Lato',sans-serif; 
}

.list-title {
    color: #103a4d;
    text-align: center;
    letter-spacing:1.4px;
    text-transform: uppercase;
    margin: 50px auto;
    
}

.nearbyviews {
    text-align: left;
}
.nearby{
    width: 65%;
    text-align: center;
    margin: auto;
}
/*hover effects*/
.img-hover-zoom{
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(95%);
}
.img-hover-zoom:hover img {
  filter: brightness(105%);
  transform: scale(1.3);
}

.list a {
 display: inline-block;
  position: relative;
}
.list a:hover{
    text-decoration: none;
    color: #133A31;
}

a.hover-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
    color: #133A31;
}

a.hover-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    color: #133A31;
}
/*footer*/
.container-wrapper {
    width: 100%;
    padding-bottom: 8rem;  
}
footer {
    margin-top:50px;
    padding:50px 20%;
    background-color: #1b1b1b;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem; 
    text-align: center;
}


/*media query*/
@media only screen and (max-width: 550px) {
    .title {
    font-size:1.2em;
}
    .sticky {
      width: 90%;
        
    }
    .search {
        padding-top:15px;
    }
    .form-group {
        width: 90%;
    }
    .list {
        padding: 15px;
        margin-bottom: 0;
    }
    .map-wrapper > div {
        width: 100%;
    }
    .container, .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .nearby{
    width: 90%;
    text-align: center;
    margin: auto;
}
    .nearby-tips {
        margin-top:100px;
    }
    footer {
        margin-top:0px;
    }
}


/*read more button*/
#more {display: none;}

#readmorebtn {
    border-bottom: 1px solid currentColor; 
    cursor: pointer;
}

/*Modal*/
.modal-content {
    margin-top: 30%;
}



